body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

input {
    width:95%;
    padding: 10px;
    margin: 10px auto;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
    display: inline-block;
}

button:hover {
    background-color: #0056b3;
}

#output {
    margin-top: 20px;
    font-weight: bold;
}

#image{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 680px;
    height: 400px;
}
